<!-- ism, familiya -->
<div class="modal d-none">
    <div class="modal__content">
        <div class="modal__inner">
            <h2 class="modal__heading">Ism, familiya</h2>
            <div class="modal__form form">
                <div class="modal__field">
                    <label class="modal__label label">
                        <span class="d-none">Ism</span>
                        <input class="modal__input input" type="text" id="input-update-fname" placeholder="Ism" data-input-fname>
                    </label>
                    <label class="modal__label label">
                        <span class="d-none">Familiya</span>
                        <input class="modal__input input" type="text" id="input-update-lname" placeholder="Familiya" data-input-lname>
                    </label>
                </div>
                <div class="modal__submit">
                    <button class="button button-outline" type="button" data-modal-close id="cancel-name">Bekor qilish</button>
                    <button class="button button-blue" id="update-name" data-modal-update data-user-id="<%=user.id%>" data-path="name">Yangilash</button>
                </div>
            </div>
        </div>
        <button class="modal__close" data-modal-close-icon>
            <img src="/img/icons/close-modal.svg" alt="close modal icon">
        </button>
    </div>
</div>

<!-- telefon raqam -->
<div class="modal d-none">
    <div class="modal__content">
        <h2 class="modal__heading">Telefon raqam</h2>
        <div class="modal__form form">
            <input class="input modal__input" type="number" placeholder="+93-000-00-00" data-phone-input>
            <div class="modal__submit">
                <button class="button button-outline" type="button" data-modal-close>Bekor qilish</button>
                <button class="button button-blue" data-modal-update data-user-id="<%=user.id%>" data-path="phone">Yangilash</button>
            </div>
        </div>
        <button class="modal__close" data-modal-close-icon>
            <img src="/img/icons/close-modal.svg" alt="close modal icon">
        </button>
    </div>
</div>

<!-- elektron pochta -->
<div class="modal d-none">
    <div class="modal__content">
        <h2 class="modal__heading">Elektron pochta</h2>
        <div class="modal__form form">
            <input class="input modal__input" type="email" placeholder="example@birnima.com" data-email-input>
            <div class="modal__submit">
                <button class="button button-outline" type="button" data-modal-close>Bekor qilish</button>
                <button class="button button-blue" data-modal-update data-user-id="<%=user.id%>" data-path="email">Yangilash</button>
            </div>
        </div>
        <button class="modal__close" data-modal-close-icon>
            <img src="/img/icons/close-modal.svg" alt="close modal icon">
        </button>
    </div>
</div>

<!-- telegram username -->
<div class="modal d-none">
    <div class="modal__content">
        <h2 class="modal__heading">Telegram username</h2>
        <div class="modal__form form">
            <input class="input modal__input" type="text" placeholder="@birnimajon" data-telegram-input>
            <div class="modal__submit">
                <button class="button button-outline" type="button" data-modal-close>Bekor qilish</button>
                <button class="button button-blue" data-modal-update data-user-id="<%=user.id%>" data-path="telegram">Yangilash</button>
            </div>
        </div>
        <button class="modal__close" data-modal-close-icon>
            <img src="/img/icons/close-modal.svg" alt="close modal icon">
        </button>
    </div>
</div>

<!--o'zingiz haqida ma'lumot modali-->
<div class="modal d-none">
    <div class="modal__content">
        <h2 class="modal__heading">O'zingiz haqingizda</h2>
        <div class="modal__form form">
            <textarea class="textarea modal__textarea" id="textarea" placeholder="O'zingiz haqingizda ma'lumot kiriting" required data-about-input></textarea>
            <div class="modal__submit">
                <button class="button button-outline" type="button" data-modal-close>Bekor qilish</button>
                <button class="button button-blue" data-modal-update data-user-id="<%=user.id%>" data-path="about">Yangilash</button>
            </div>
        </div>
        <button class="modal__close" data-modal-close-icon>
            <img src="/img/icons/close-modal.svg" alt="close modal icon">
        </button>
    </div>
</div>

<!--portfolio qo'shish modali-->
<div class="modal d-none">
    <div class="modal__content">
        <h2 class="modal__heading">Portfolio</h2>
        <div class="modal__form form">
            <label class="label valid after-none">
                <span class="text">Loyihani tasvirlovchi rasm(.png yoki .jpg formatda, hajmi 1Mb gacha bo'lgan bitta rasm)</span>
                <span class="button button-outline" type="button">Rasm qo'shish</span>
                <input class="d-none" type="file" id="modal" accept=".png, .jpg" data-portfolio-image-input>
            </label>
            <div class="modal__preview"></div>
            <div class="modal__field">
                <label class="label">
                    <span class="text">Loyiha nomi</span>
                    <input class="input modal__input" type="text" name="project_name" placeholder="Loyiha nomi" data-input-project-name>
                </label>
                <label class="label">
                    <span class="text">Loyiha uchun havola</span>
                    <input class="input modal__input" type="url" name="project_url" placeholder="Loyiha nomi" data-input-project-link>
                </label>
            </div>
            <div class="modal__submit">
                <button class="button button-outline" type="button" data-modal-close>Bekor qilish</button>
                <button class="button button-blue" data-modal-update data-user-id="<%=user.id%>" data-path="portfolio">Yangilash</button>
            </div>
        </div>
        <button class="modal__close" data-modal-close-icon>
            <img src="/img/icons/close-modal.svg" alt="close modal icon">
        </button>
    </div>
</div>

<!--ishlagan joyi modali-->
<div class="modal d-none">
    <div class="modal__content">
        <h2 class="modal__heading">Ishlagan joylaringiz</h2>
        <div class="modal__form form">
            <div class="modal__field">
                <label class="label">
                    <span class="text">Ishlagan joyingiz nomi</span>
                    <input class="input modal__input" type="text" placeholder="Ishlagan joyingiz nomi" data-input-company-name>
                </label>
                <label class="label">
                    <span class="text">Kim bo'lib ishlagansiz?</span>
                    <input class="input modal__input" type="url" placeholder="Kim bo'lib ishlagansiz?" data-input-position>
                </label>
            </div>
            <div class="modal__field modal__field__4">
                <label class="label after-none">
                    <span class="text">Ish boshlangan yil</span>
                    <div class="select modal__select">
                        <div class="select__selected" data-input-work-start-year></div>
                        <ul class="select__list d-none">
                            <% for (let i = 1990; i <= new Date().getFullYear(); i ++) { %>
                                <li class="select__item"><%= i %></li>
                            <% } %>
                        </ul>
                    </div>
                </label>
                <label class="label after-none">
                    <span class="text">Oy</span>
                    <div class="select modal__select">
                        <div class="select__selected" data-input-work-start-month></div>
                        <ul class="select__list d-none">
                            <li class="select__item">yanvar</li>
                            <li class="select__item">fevral</li>
                            <li class="select__item">mart</li>
                            <li class="select__item">aprel</li>
                            <li class="select__item">may</li>
                            <li class="select__item">iyun</li>
                            <li class="select__item">iyul</li>
                            <li class="select__item">avgust</li>
                            <li class="select__item">sentabr</li>
                            <li class="select__item">oktabr</li>
                            <li class="select__item">noyabr</li>
                            <li class="select__item">dekabr</li>
                        </ul>
                    </div>
                </label>
                <label class="label after-none">
                    <span class="text">Ish tugagan yil</span>
                    <div class="select modal__select">
                        <div class="select__selected" data-input-work-end-year></div>
                        <ul class="select__list d-none">
                            <% for (let i = 1990; i <= new Date().getFullYear(); i ++) { %>
                                <li class="select__item"><%= i %></li>
                            <% } %>
                        </ul>
                    </div>
                </label>
                <label class="label after-none">
                    <span class="text">Oy</span>
                    <div class="select modal__select">
                        <div class="select__selected" data-input-work-end-month></div>
                        <ul class="select__list d-none">
                            <li class="select__item">yanvar</li>
                            <li class="select__item">fevral</li>
                            <li class="select__item">mart</li>
                            <li class="select__item">aprel</li>
                            <li class="select__item">may</li>
                            <li class="select__item">iyun</li>
                            <li class="select__item">iyul</li>
                            <li class="select__item">avgust</li>
                            <li class="select__item">sentabr</li>
                            <li class="select__item">oktabr</li>
                            <li class="select__item">noyabr</li>
                            <li class="select__item">dekabr</li>
                        </ul>
                    </div>
                </label>
            </div>
            <label class="modal__label label after-none valid">
                <span class="text">Ishlagan joyingiz haqida yozing</span>
                <textarea class="textarea modal__textarea" id="textarea" placeholder="Ishlagan joyingiz haqida yozing" data-textarea-work-about></textarea>
            </label>
            <div class="modal__submit">
                <button class="button button-outline" type="button" data-modal-close>Bekor qilish</button>
                <button class="button button-blue" data-modal-update data-user-id="<%=user.id%>" data-path="experience">Yangilash</button>
            </div>
        </div>
        <button class="modal__close" data-modal-close-icon>
            <img src="/img/icons/close-modal.svg" alt="close modal icon">
        </button>
    </div>
</div>

<!--o'qish joyi modali-->
<div class="modal d-none">
    <div class="modal__content">
        <h2 class="modal__heading">Ta'lim</h2>
        <div class="modal__form form">
            <div class="modal__field">
                <label class="label">
                    <span class="text">O'qigan joyingiz nomi</span>
                    <input class="input modal__input" type="text" name="edu_name" placeholder="O'qigan joyingiz nomi" data-input-edu-name>
                </label>
                <label class="label">
                    <span class="text">Qaysi yo'nalish bo'yicha o'qigansiz?</span>
                    <input class="input modal__input" type="url" name="edu_" placeholder="Yo'nalish nomi" data-input-edu-direction>
                </label>
            </div>
            <div class="modal__field modal__field__4">
                <label class="label after-none">
                    <span class="text">O'qish boshlangan yil</span>
                    <div class="select modal__select">
                        <div class="select__selected" data-input-edu-start-year></div>
                        <ul class="select__list d-none">
                            <% for (let i = 1990; i <= new Date().getFullYear(); i ++) { %>
                                <li class="select__item"><%= i %></li>
                            <% } %>
                        </ul>
                    </div>
                </label>
                <label class="label after-none">
                    <span class="text">Oy</span>
                    <div class="select modal__select">
                        <div class="select__selected" data-input-edu-start-month></div>
                        <ul class="select__list d-none">
                            <li class="select__item">yanvar</li>
                            <li class="select__item">fevral</li>
                            <li class="select__item">mart</li>
                            <li class="select__item">aprel</li>
                            <li class="select__item">may</li>
                            <li class="select__item">iyun</li>
                            <li class="select__item">iyul</li>
                            <li class="select__item">avgust</li>
                            <li class="select__item">sentabr</li>
                            <li class="select__item">oktabr</li>
                            <li class="select__item">noyabr</li>
                            <li class="select__item">dekabr</li>
                        </ul>
                    </div>
                </label>
                <label class="label after-none">
                    <span class="text">O'qish tugagan yil</span>
                    <div class="select modal__select">
                        <div class="select__selected" data-input-edu-end-year></div>
                        <ul class="select__list d-none">
                            <% for (let i = 1990; i < new Date().getFullYear(); i ++) { %>
                                <li class="select__item"><%= i %></li>
                            <% } %>
                        </ul>
                    </div>
                </label>
                <label class="label after-none">
                    <span class="text">Oy</span>
                    <div class="select modal__select">
                        <div class="select__selected" data-input-edu-end-month></div>
                        <ul class="select__list d-none">
                            <li class="select__item">yanvar</li>
                            <li class="select__item">fevral</li>
                            <li class="select__item">mart</li>
                            <li class="select__item">aprel</li>
                            <li class="select__item">may</li>
                            <li class="select__item">iyun</li>
                            <li class="select__item">iyul</li>
                            <li class="select__item">avgust</li>
                            <li class="select__item">sentabr</li>
                            <li class="select__item">oktabr</li>
                            <li class="select__item">noyabr</li>
                            <li class="select__item">dekabr</li>
                        </ul>
                    </div>
                </label>
            </div>
            <label class="modal__label label valid after-none">
                <span class="text">O'qigan joyingiz haqida yozing</span>
                <textarea class="textarea modal__textarea" id="textarea" placeholder="O'qigan joyingiz haqida yozing" data-textarea-edu-about></textarea>
            </label>
            <div class="modal__submit">
                <button class="button button-outline" type="button" data-modal-close>Bekor qilish</button>
                <button class="button button-blue" data-modal-update data-user-id="<%=user.id%>" data-path="education">Yangilash</button>
            </div>
        </div>
        <button class="modal__close" data-modal-close-icon>
            <img src="/img/icons/close-modal.svg" alt="close modal icon">
        </button>
    </div>
</div>

<!--til qo'shish modali-->
<div class="modal d-none">
    <div class="modal__content">
        <h2 class="modal__heading">Biladigan tillaringiz</h2>
        <div class="modal__form form">
            <div class="modal__field">
                <label class="label after-none">
                    <span class="text">Tilni tanlang</span>
                    <div class="select modal__select">
                        <div class="select__selected" data-input-lang-name></div>
                        <ul class="select__list d-none">
                            <li class="select__item">Ingliz tili</li>
                            <li class="select__item">Rus tili</li>
                            <li class="select__item">Koreys tili</li>
                            <li class="select__item">Xitoy tili</li>
                            <li class="select__item">Arab tili</li>
                            <li class="select__item">Yapon tili</li>
                        </ul>
                    </div>
                </label>
                <label class="label after-none">
                    <span class="text">Shu tilni bilish darajangiz</span>
                    <div class="select modal__select">
                        <div class="select__selected" data-input-lang-level></div>
                        <ul class="select__list d-none">
                            <li class="select__item">Tushunaman</li>
                            <li class="select__item">Hujjatlarni o'qib tushunaman</li>
                            <li class="select__item">Gaplasha olaman</li>
                        </ul>
                    </div>
                </label>
            </div>
            <div>
                <button class="add-language" type="button" title="Til qo'shish">
                    <svg width="14" height="14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M6 6V0h2v6h6v2H8v6H6V8H0V6h6Z" fill="#C6D4FF"/>
                    </svg>
                </button>
            </div>
            <div class="modal__submit">
                <button class="button button-outline" type="button" data-modal-close>Bekor qilish</button>
                <button class="button button-blue" data-modal-update data-user-id="<%=user.id%>" data-path="language">Yangilash</button>
            </div>
        </div>
        <button class="modal__close" data-modal-close-icon>
            <img src="/img/icons/close-modal.svg" alt="close modal icon">
        </button>
    </div>
</div>

<!--ko'nikmalar joyi modali-->
<div class="modal d-none">
    <div class="modal__content">
        <h2 class="modal__heading">Ko'nikmalaringiz</h2>
        <div class="modal__form">
            <div class="modal__field">
                <div class="skills__add">
                    <input class="input modal__input" type="text" placeholder="Ko'nikma nomini kiriting">
                    <ul class="skills__hints">
                        <li class="skills__hints__item">
                            JavaScript
                        </li>
                        <li class="skills__hints__item">
                            Java
                        </li>
                        <li class="skills__hints__item">
                            Joomla
                        </li>
                        <li class="skills__hints__item">
                            HTML
                        </li>
                        <li class="skills__hints__item">
                            CSS
                        </li>
                        <li class="skills__hints__item">
                            Sass
                        </li>
                        <li class="skills__hints__item">
                            Bootstrap
                        </li>
                        <li class="skills__hints__item">
                            Webpack
                        </li>
                        <li class="skills__hints__item">
                            Babel
                        </li>
                        <li class="skills__hints__item">
                            Git
                        </li>
                        <li class="skills__hints__item">
                            Vue
                        </li>
                        <li class="skills__hints__item">
                            NodeJS
                        </li>
                        <li class="skills__hints__item">
                            ExpressJS
                        </li>
                        <li class="skills__hints__item">
                            Postgres
                        </li>
                        <li class="skills__hints__item">
                            Mongo
                        </li>
                    </ul>
                </div>
                <ul class="skills__list">
                    <% user.skills.map(skill => { %>
                        <li class="skills__item">
                            <span><%= skill %></span>
                            <span class="skills__remove">
                                <img src="/img/icons/times.svg" alt="remove icon">
                            </span>
                        </li>
                    <% }) %>
                </ul>
            </div>
            <div class="modal__submit">
                <button class="button button-outline" type="button" data-modal-close>Bekor qilish</button>
                <button class="button button-blue" data-modal-update data-user-id="<%=user.id%>" data-path="skills">Yangilash</button>
            </div>
        </div>
        <button class="modal__close" data-modal-close-icon>
            <img src="/img/icons/close-modal.svg" alt="close modal icon">
        </button>
    </div>
</div>

<!-- Ijtimoiy tarmoqlar modali -->
<div class="modal d-none">
    <div class="modal__content">
        <h2 class="modal__heading">Ijtimoiy tarmoqlardagi sahifalaringiz</h2>
        <div class="modal__form form">
            <input class="input modal__input" type="url" placeholder="Website" data-input-website value="<%= user.website %>">
            <br>
            <input class="input modal__input" type="url" placeholder="YouTube" data-input-youtube value="<%= user.youtube %>">
            <br>
            <input class="input modal__input" type="url" placeholder="GitHub" data-input-github value="<%= user.github %>">
            <div class="modal__submit">
                <button class="button button-outline" type="button" data-modal-close>Bekor qilish</button>
                <button class="button button-blue" data-modal-update data-user-id="<%=user.id%>" data-path="socials">Yangilash</button>
            </div>
        </div>
        <button class="modal__close" data-modal-close-icon>
            <img src="/img/icons/close-modal.svg" alt="close modal icon">
        </button>
    </div>
</div>