<%- include('parts/header') %>

<header class="header header-contact">
    <%- include('components/navbar', { logo: 'white' }) %>
    <div class="container">
        <h1 class="header__title">
            <span>Biz haqimizda</span>
            <br>
            <span>ma'lumot</span>
        </h1>
    </div>
</header>

<main class="main main--about">
    <section class="about-text">
        <div class="container">
            <p><%=text%></p>
        </div>
    </section>
    <section class="founders">
        <div class="container">
            <h2 class="founders__heading">Rizqim platformasining asoschilari</h2>
            <div class="founders__list">
                <% founders.map(founder => { %> 
                <div class="founders__card" style="--bg-image: url(<%=founder.image%>)">
                    <a class="founder__name" href="#">
                        <%=founder.name%>
                    </a>
                </div>
                <% }) %>
            </div>
        </div>
    </section>
</main>

<%- include('components/footer') %>
<%- include('parts/footer') %>