<%- include('parts/header') %>

<header class="header header-freelancers">
    <%- include('components/navbar', { logo: 'white' }) %>
    <div class="container">
        <h1 class="header__title">
            <span>Rizqingizni</span>
            <br>
            <span>hallolab oling</span>
        </h1>
    </div>
</header>

<main class="main">
    <div class="board-list">
        <div class="grid-container">
            <% freelancers.map(fl => { %>
                <%- include('components/card', {
                    cardTitle: fl.first_name + " " + fl.last_name,
                    viewsCount: null,
                    workersCount: null,
                    cardType: 'frontend',
                    picture: fl.picture,
                    cardLink: `/freelancers/${fl.slug}`,
                    editable: false
                }) %>
            <% }) %>
        </div>
        <div class="pagination-container">
            <div id="pagination"></div>
        </div>
    </div>
</main>

<%- include('components/footer') %>
<%- include('parts/footer') %>