
<%- include('parts/header') %>

<header class="header header-profile">
  <%- include('components/navbar', { logo: 'white', }) %>
</header>

<section class="profile">
  <header class="profile__header">
    <div class="flex-container">
      <div class="profile__owner">
        <div class="profile__avatar">
          <input type="file" name="image" id="profile-pic" class="d-none" accept="image/*" />
          <picture>
            <label for="profile-pic">
              <img
                src="<%= user.picture %>"
                id="profile-avatar"
              />
            </label>
          </picture>
        </div>
        <div class="profile__name">
          <h1><%= user.first_name + ' ' + user.last_name %></h1>
          <p>Web Developer</p>
        </div>
      </div>
      <a class="profile__mail" href="/<%= user.slug %>/mail">
        <span class="profile__mail-icon profile__mail-icon--unread">
          <img src="/img/icons/email.svg" alt="email icon" />
        </span>
        <span>Xabarlar</span>
      </a>
    </div>
  </header>
  <main class="profile__main">
    <div class="container">
      <section class="profile__section profile__section--basic">
        <div>
          <header class="profile__section__header">
            <h2 class="profile__section__heading">Ism, familiya</h2>
            <div class="profile__section__edit" title="O'zgartirish">
              <img src="/img/icons/edit.svg" alt="edit icon" id="edit-btn" />
            </div>
          </header>
          <main class="profile__section__main">
            <p class="profile__section__text"><%=user.first_name%> <%=user.last_name%></p>
          </main>
        </div>
        <div>
          <header class="profile__section__header">
            <h2 class="profile__section__heading">Telefon raqam</h2>
            <div class="profile__section__edit" title="O'zgartirish">
              <img src="/img/icons/edit.svg" alt="edit icon" id="edit-btn" />
            </div>
          </header>
          <main class="profile__section__main">
            <% if(user.phone_number) { %>
              <a class="profile__section__text" href="tel: +<%=user.phone_number%>">+<%=user.phone_number%></a>
            <% } else { %>
              <p class="profile__section__text">Kiritilmagan</p>
            <% } %>
          </main>
        </div>
        <div>
          <header class="profile__section__header">
            <h2 class="profile__section__heading">Elektron pochta</h2>
            <div class="profile__section__edit" title="O'zgartirish">
              <img src="/img/icons/edit.svg" alt="edit icon" id="edit-btn" />
            </div>
          </header>
          <main class="profile__section__main">
            <a
              class="profile__section__text"
              href="mailto: <%=user.email%>"
              target="_blank"
              ><%=user.email%></a
            >
          </main>
        </div>
        <div>
          <header class="profile__section__header">
            <h2 class="profile__section__heading">Telegram username</h2>
            <div class="profile__section__edit" title="O'zgartirish">
              <img src="/img/icons/edit.svg" alt="edit icon" id="edit-btn" />
            </div>
          </header>
          <main class="profile__section__main">
            <% if(user.phone_number) { %>
              <a
              class="profile__section__text"
              href="https://t.me/<%=user.tg_username%>"
              target="_blank"
              ><%=user.tg_username%></a>
            <% } else { %>
              <p
              class="profile__section__text"
              >Kiritilmagan</p>
            <% } %>
          </main>
        </div>
      </section>
      <section class="profile__section">
        <header class="profile__section__header">
          <h2 class="profile__section__heading">
            O'zingiz haqingizda ma'lumot
          </h2>
          <div class="profile__section__edit" title="O'zgartirish">
            <img src="/img/icons/edit.svg" alt="edit icon" id="edit-btn" />
          </div>
        </header>
        <main class="profile__section__main">
          <% if (user.about) { %>
            <p class="profile__section__text"><%=user.about%></p>
          <% } else { %>
            <div class="profile__section__empty">
              <img src="/img/icons/empty.svg" alt="empty icon" />
              <p>Hozircha hech nima kiritilmagan</p>
            </div>
          <% } %>
        </main>
      </section>
      <section class="profile__section">
        <header class="profile__section__header">
          <h2 class="profile__section__heading">Portfolio</h2>
          <div class="profile__section__add" title="Qo'shish">
            <img src="/img/icons/add.svg" alt="edit icon" id="edit-btn" />
          </div>
        </header>
        <% if (user.portfolio.length == 0) { %>
          <div class="profile__section__empty">
            <img src="/img/icons/empty.svg" alt="empty icon" />
            <p>Hozircha hech nima kiritilmagan</p>
          </div>
        <% } else { %>
          <main class="profile__section__main profile__section__main--grid">
            <% user.portfolio.map(portfolio => { %>
              <div class="card" title="<%= portfolio.title %>" style="background-image: url('<%= portfolio.image %>')">
                <div class="card__body">
                    <h3 class="card__heading"><%= portfolio.title.substring(0, 25) %></h3>
                </div>
                <a class="card__link" href="<%= portfolio.project_url %>" target="_blank">
                    card link
                </a>
              </div>
            <% }) %>
          </main>
        <% } %>
      </section>
      <section class="profile__section">
        <header class="profile__section__header">
          <h2 class="profile__section__heading">Ishlagan joylaringiz</h2>
          <div class="profile__section__add" title="Qo'shish">
            <img src="/img/icons/add.svg" alt="edit icon" id="edit-btn" />
          </div>
        </header>
        <% if (user.experience.length === 0) { %>
        <div class="profile__section__empty">
          <img src="/img/icons/empty.svg" alt="empty icon" />
          <p>Hozircha hech nima kiritilmagan</p>
        </div>
        <% } else { %>
        <main class="profile__section__main">
          <ul class="profile__experience__list">
            <% user.experience.map(exp => { %>
              <li class="profile__experience__item">
                <h3 class="profile__experience__heading">
                  <span><%=exp.company_name %>, <%=exp.position %>. <%=exp.from_year%>, <%=exp.start_month%> - <%=exp.to_year%>, <%=exp.end_month%></span>
                  <img
                    class="profile__experience__edit"
                    src="/img/icons/edit.svg"
                    width="16"
                    height="16"
                    alt="edit icon" 
                    title="O'zgartirish"
                  />
                </h3>
                <p class="profile__section__text"><%= exp.desc %></p>
              </li>
            <% }) %>
          </ul>
        </main>
        <% } %>
      </section>
      <section class="profile__section">
        <header class="profile__section__header">
          <h2 class="profile__section__heading">O'qigan joylaringiz</h2>
          <div class="profile__section__add" title="Qo'shish">
            <img src="/img/icons/add.svg" alt="edit icon" id="edit-btn" />
          </div>
        </header>
        <% if (user.education.length === 0) { %>
        <div class="profile__section__empty">
          <img src="/img/icons/empty.svg" alt="empty icon" />
          <p>Hozircha hech nima kiritilmagan</p>
        </div>
        <% } else { %>
        <main class="profile__section__main">
          <ul class="profile__education__list">
            <% user.education.map(edu => { %>
              <li class="profile__education__item">
                <h3 class="profile__education__heading">
                  <span><%=edu.name%>. <%=edu.start_year%>, <%=edu.start_month%> - <%=edu.end_year%>, <%=edu.end_month%></span>
                  <img
                    class="profile__education__edit"
                    src="/img/icons/edit.svg"
                    width="16"
                    height="16"
                    alt="edit icon" 
                    title="O'zgartirish"
                  />
                </h3>
                <p class="profile__section__text">
                  <%=edu.about%>
                </p>
              </li>
            <% }) %>
          </ul>
        </main>
        <% } %>
      </section>
      <section class="profile__section">
        <header class="profile__section__header">
          <h2 class="profile__section__heading">Biladigan tillaringiz</h2>
          <div class="profile__section__add" title="Qo'shish">
            <img src="/img/icons/add.svg" alt="edit icon" id="edit-btn" />
          </div>
        </header>
        <% if (user.languages.length == 0) { %>
        <div class="profile__section__empty">
          <img src="/img/icons/empty.svg" alt="empty icon" />
          <p>Hozircha hech nima kiritilmagan</p>
        </div>
        <% } else { %>
        <main class="profile__section__main">
          <ul class="profile__language__list">
            <% user.languages.map(lang => { %>
              <li class="profile__language__item">
                <h3 class="profile__language__heading">
                  <span><%=lang.name %></span>
                  <img
                    class="profile__language__edit"
                    src="/img/icons/edit.svg"
                    width="16"
                    height="16"
                    alt="edit icon"
                    title="O'zgartirish"
                  />
                </h3>
                <p class="profile__section__text"><%=lang.level %></p>
              </li>
            <% }) %>
          </ul>
        </main>
        <% } %>
      </section>
      <section class="profile__section">
        <header class="profile__section__header">
          <h2 class="profile__section__heading">Ko'nikmalaringiz</h2>
          <div class="profile__section__add" title="Qo'shish">
            <img src="/img/icons/add.svg" alt="add icon" id="edit-btn" />
          </div>
        </header>
        <% if (user.skills.length == 0) { %>
        <div class="profile__section__empty">
          <img src="/img/icons/empty.svg" alt="empty icon" />
          <p>Hozircha hech nima kiritilmagan</p>
        </div>
        <% } else { %>
        <main class="profile__section__main">
          <ul class="profile__skills__list">
            <% user.skills.map(skill => { %>
              <li class="profile__skills__item">
                <span class="profile__skills__name"><%= skill %></span>
                <span class="profile__skills__remove" title="Olib tashlash" id="skill-remove-btn" data-user-id="<%=user.id%>" data-path="skills" data-skill="<%=skill%>">
                  <img src="/img/icons/times-blue.svg" alt="remove skill icon" />
                </span>
              </li>
          <% }) %>
          </ul>
        </main>
        <% } %>
      </section>
      <section class="profile__section">
        <header class="profile__section__header">
          <h2 class="profile__section__heading">
            Ijtimoiy tarmoqdagi sahifalaringiz
          </h2>
          <div class="profile__section__add" title="Qo'shish">
            <img src="/img/icons/add.svg" alt="add icon" id="edit-btn" />
          </div>
        </header>
        <% if (5 < 1) { %>
        <div class="profile__section__empty">
          <img src="/img/icons/empty.svg" alt="empty icon" />
          <p>Hozircha hech nima kiritilmagan</p>
        </div>
        <% } else { %>
        <main class="profile__section__main">
          <ul class="profile__links__list">
            <li class="profile__links__item">
              <a class="profile__links__link" href="<%= user.website %>" target="_blank">
                <img src="/img/icons/site.svg" alt="network icon" />
                <span>Web sayt</span>
                <img
                  class="profile__link__edit"
                  src="/img/icons/edit.svg"
                  width="16"
                  height="16"
                  alt="edit icon" id="edit-btn"
                  title="O'zgartirish"
                />
              </a>
              <a class="profile__links__link" href="<%= user.youtube %>" target="_blank">
                <img src="/img/icons/youtube.svg" alt="youtube icon" />
                <span>YouTube</span>
                <img
                  class="profile__link__edit"
                  src="/img/icons/edit.svg"
                  width="16"
                  height="16"
                  alt="edit icon" id="edit-btn"
                  title="O'zgartirish"
                />
              </a>
              <a class="profile__links__link" href="<%= user.github %>" target="_blank">
                <img src="/img/icons/git.svg" alt="git icon" />
                <span>Github</span>
                <img
                  class="profile__link__edit"
                  src="/img/icons/edit.svg"
                  width="16"
                  height="16"
                  alt="edit icon" id="edit-btn"
                  title="O'zgartirish"
                />
              </a>
            </li>
          </ul>
        </main>
        <% } %>
      </section>
    </div>
  </main>
</section>

<%- include('components/modal') %> <%- include('components/footer') %> <%-
include('parts/footer') %>
